@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
.header {
  background-color: #264653;
}
.text-area h1 {
  font-size: 3em;
}
.image-area img {
  width: 100%;
}
.feature-images .card {
  border: none;
}
hr {
  width: 100px;
  color: #ff830f;
  margin: auto;
}
.feature-title {
  margin-bottom: 70px;
}
.feature-images .card {
  filter: grayscale(100%);
}
.feature-images .card:hover {
  filter: none;
}
.btn-outline-primary {
  color: #ff830f;
  border-color: #ff830f;
}
.btn-outline-primary:hover {
  color: #ffffff;
  border-color: #ff830f;
  background-color: #ff830f;
}
.btn-primary {
  background-color: #ff830f;
  border-color: #ff830f;
  width: 170px;
}
.btn-primary:hover {
  background-color: #e26d00;
  border-color: #e26d00;
}
.card-header {
  border-color: none;
  height: 90px;
}
footer {
  height: auto;
  background-color: #0c0c0c;
}
